:root {
    --gray-border: 2px solid lightgray;
    font-family: "Comic Neue", cursive;
}
.container {
    display: grid;
    grid-template-areas: "sidebar header"
                         "sidebar main";
    grid-template-rows: min-content min-content;
    grid-template-columns: 1fr 3fr;
}

.sidebar {
    grid-area: sidebar;
    background-color: #1892d3;
    color: white;
    font-weight: 700;

}

.sidebar ul{
    display:grid;
    gap: 20px;
    grid-auto-rows: min-content;
}

.sidebar li {
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    align-items: last center;
}

.header {
    grid-area: header;
    border-bottom: var(--gray-border);
    display: grid;
    align-content: start;
}

.header .top {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
}

.header .bottom {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
}

.main {
    grid-area: main;
    background-color: #e1e8f0;
    display: grid;
    grid-template-areas: "projects announcements"
                         "projects trending";
    grid-template-columns: 3fr 1fr;
    grid-template-rows: min-content min-content;
}

.projects {
    grid-area: projects;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px 20px;
    gap: 20px;
    position: relative;
    grid-auto-rows:repeat(auto-fit, minmax(min-content, 1fr));
}

.card {
    border-bottom: var(--gray-border);
    border-right: var(--gray-border);
    position: relative;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    box-shadow: -5px 0px orange;
    display: grid;
    grid-template-rows: min-content min-content 1fr;
    
}

.card div:first-child {
    font-weight: 700;
    color: black;
}

svg{
    width: 1.5em;
    height: 1.5em;
}

.card .svgs {
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    justify-content: end;
    align-self: end;

}


.projects::before {
    content: "Your Projects";
    position: absolute;
    top: 25px;
    left: 20px;
    font-weight: 700;
    
    
}
.announcements {
    grid-area: announcements;
    margin: 50px 20px 50px 0;
    position: relative;
    
}

.announcementCard,
.trendingCard {
    border-bottom: var(--gray-border);
    border-right: var(--gray-border);
    position: relative;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
}

.announcementCard div {
    font-weight: 700;
    color: black;
}

.announcementCard p {
    padding-bottom: 40px;
    border-bottom: 1px solid lightgray;
}

.announcementCard p:last-child {
    padding-bottom: 0px;
    border-bottom: none;
}

.announcements::before {
    content: "Announcements";
    position: absolute;
    top: -25px;
    font-weight: 700;
}

.trending ul {
    grid-area: trending;
    margin-right: 20px;
    display: grid;
    grid-template-columns: min-content max-content;
    grid-auto-rows: min-content;
    justify-items: start;
    align-items: center;
    gap: 1em;;
    
}

.trending ul li::first-line {
    font-weight: 700;
    color: black;
}
.trending svg {
    width: 2.5em;
    height: 2.5em;
}

.trending li {
    list-style: none;
}

.bottom {
    margin: 0 2em;
}
.bottom p{
    display:inline;
}
.buttons {
    display:grid;
    grid-auto-flow: column;
    gap: 25px;
}
.buttons button {
    background-color: #1892d3;
    padding: 0.5em 1em;
    border: none;
    border-radius: 25px;
    color: white;
}

li svg {
    fill: white;
    margin-right: 1rem;
    font-size: 0.8em;
}

.dashboard {
    font-size: 1.5rem;
}

.right svg:first-child {
    width: 1.3em;
    height: 1.3em;
}

.right svg:nth-child(2) {
    width: 2em;
    height: 2em;
}

input {
    border: none;
    background-color: lightgray;
    border-radius: 25px;
    width: 25em;
}

.left {
    margin-left: 2em;
}
.right {
    font-weight: 700;
    margin-right: 2em;
}

.left,
.right {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap:1em;
}

.about {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    font-weight: 700;
    grid-template-columns: 1fr 14em;
    gap: 1em;
    line-height: 1.3em;
}

.about p::first-line {
    font-size: 0.7em;
}

.about svg {
    width: 3em;
    height: 3em;
}

.card,
.announcementCard,
.trendingCard {
    color: gray;
}

.trending div {
    font-weight: 700;
    color: black;
}

